<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Bean Storage - Login </title>
        <link rel="stylesheet" href="style.css">
        <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css" />
    </head>
    <body>
        <header class="header">
            <a href="#" class="nav_logo">Bean Storage</a>
        </header>
        <div class="body">
            <div class="wrapper">
                <form action="/loginauth" method="POST">
                    <h1>Login</h1>
                    <div class="input-box">
                        <input type="text" id="username" name="username" placeholder="Username" required>
                        <i class="uil uil-user user"></i>
                    </div>
                    <div class="input-box">
                        <input type="password" id="password" name="password" placeholder="Password" required>
                        <i class="uil uil-eye-slash pw_hide"></i>
                    </div>
    
                    <div class="remember-forgot">
                        <label><input type="checkbox"> Remember me</label>
                    </div>
    
                    <button type="submit" class="btn">Login</button>
    
                    <div class="register-link">
                        <p>Don't have an account? <a href="register.html">Register</a></p>
                    </div>
                </form>
            </div>
        </div>
        <script src="script.js"></script>
        {{if .}}
            {{.}}
        {{end}}
    </body>
</html>